container_commands:
  01_requirement:
    command: "source /opt/python/run/venv/bin/activate && pip install -r requirements/production.txt"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py  migrate"
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "conf.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: conf/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"