/*****************************************************/
/*    COMIC PAGE    */
/*****************************************************/
.page-controls {
    max-width: 800px;
    text-align: center;
}
.page-controls i {
    font-size: 5em;
}
.page-controls a {
    text-decoration: none;
}