body {
    font-family: 'Source Serif Pro' georgia, serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Baloo Thambi', cursive; }

a { 
    color: #2A82F3; 
    text-decoration: underline;
}
a:hover { 
    color: #2369C3;
    background-color: #F3F8FF;
}
a:visited {
    color: #2A82F3; 
}
.angular-a span{ 
    color: #2A82F3; 
}
.angular-a span:hover { 
    color: #2369C3;
    background-color: #F3F8FF;
}
.angular-a span:visited {
    color: #2A82F3; 
}
