.header-left {
    margin: 10px 0px;
    border: 1px solid #000;
    height: 250px;
}
.header-left img {
    max-height: 250px;
}

.header-right {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #000;
    height: 250px;
}


